html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

p {
  margin-bottom: 0.75em;
  margin-top: 0.5em;
}

.App {
  height: 100vh;
}

.App-header {
  background-color: #ce0000;
  padding: 4px;
  color: whitesmoke;
  text-align: center;
  font-weight: bolder;
  flex: none;
}

.App-title {
  font-size: 1.5em;
  margin: 0.15em;
}

.App-content {
  padding: 5px;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ce0000;
  padding: 4px;
  color: white;
  text-align: center;
  flex: none;
}

.App-footer > a {
  font-size: 1.5em;
  margin: 0.15em;
  color: white;
}

.pointsOfInterest {
  overflow-y: scroll;
  padding-bottom: 5px;
}

.pointOfInterest {
  border: 2px solid black;
  padding: 4px;
}

.pointCurrent {
  border: 2px solid black;
  padding: 4px;
  background-color: #637fed;
}
