html,
body {
  height: 100%;
  margin: 0;
}

p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.App {
}

.App-header {
  background-color: #222;
  padding: 4px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  margin: 0.15em;
}

.App-content {
  padding: 5px;
}

.pointsOfInterest {
  max-height: 700px;
  overflow-y: scroll;
}

.pointOfInterest {
  border: 2px solid black;
  padding: 4px;
}

.pointCurrent {
  border: 2px solid black;
  padding: 4px;
  background-color: #637fed;
}

.footer {
  flex: 0 1 40px;
}
